/*
Theme Name: Valberesford
Theme URI: 
Description: Child 01 theme for the Divi theme
Author: <a href="http://www.doubledigit.co.uk" title="Visit author homepage">Double Digits</a>
Author URI: http://www.getlucas.com
Template: Divi
Version: 2.0
*/

@import url('../Divi/style.css');

@font-face {
    font-family: 'amatic_scregular';
    src: url('fonts/amaticsc-regular-webfont.eot');
    src: url('fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('fonts/amaticsc-regular-webfont.woff') format('woff'),
         url('fonts/amaticsc-regular-webfont.ttf') format('truetype'),
         url('fonts/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*header*/
body {
font-size: 15px;
}
@media only screen and ( min-width: 981px ) {
#logowrapper {
	background:url('images/dragonflies.png') no-repeat scroll 100% 18%;
	padding:0px 0 0 0;
}
#helpheading h1{font-size:45px;}

}
#headernavigation{padding:0;background:#f5932a;}
#et-top-navigation{background:#f5932a;}
.et_fixed_nav #logo{
	max-height: 100%; 
 	margin-bottom: 0px; 
	padding:0;
}
#top-menu li {
	font-size: 28px;
	font-family:'Amatic SC', cursive;
}
.et_mobile_menu li a{
	font-family:'Amatic SC', cursive;
	font-size: 28px;

}
.et-fixed-header #top-menu > li > a {
	padding-bottom: 10px;
}
#main-header.et-fixed-header nav#top-menu-nav {
	padding-top: 10px;
}
#top-menu li li a {
font-size: 28px!important;
}
#top-menu .menu-item-has-children > a:first-child, 
#et-secondary-nav .menu-item-has-children > a:first-child {
padding-right: 0px!important;
}
#top-menu .menu-item-has-children > a:first-child:after, 
#et-secondary-nav .menu-item-has-children > a:first-child:after {
content: ''!important;
}
.et_nav_text_color_light #top-menu li li a,
.et_nav_text_color_light #top-menu > li > a {
	color: #FFF;
}
.et_color_scheme_green #top-menu li.current-menu-item > a, .et_color_scheme_green .bottom-nav li.current-menu-item > a {
color: #000000 !important;
}
.et_header_style_centered #top-menu > li > a{
	padding-bottom: 10px;
}
#main-header{
background:#8ba64c!important;
}
#homesection{padding:0;}
#homesection .et_pb_row{padding:0;}
#sliderwrapper{padding-bottom:0}
#sliderwrapper .et_pb_row{padding:0}

#helpheading h1{color:#8BA64C; text-transform:uppercase;}
#introtxt span{color:#f5932a;}

#introtxt h2 {font-size: 32px!important;}

.questionsect1 h3{font-size: 35px; padding-bottom:0; margin-bottom:0;line-height:45px;} 
.questionsect1 ol{padding:0;}
#homesection .et_pb_column_1_3{margin-right:20px;}
#homesection .et_pb_column_2_3 ol li{padding-left: 40px; font-size:34px; /*list-style-type:none;*/}
/*#homesection .et_pb_column_2_3 ol li.circle-1{background:url('images/1.png') no-repeat scroll 0% 0%;
}#homesection .et_pb_column_2_3 ol li.circle-2{background:url('images/2.png') no-repeat scroll 0% 0%;
}#homesection .et_pb_column_2_3 ol li.circle-3{background:url('images/3.png') no-repeat scroll 0% 0%;
}#homesection .et_pb_column_2_3 ol li.circle-4{background:url('images/4.png') no-repeat scroll 0% 0%;
}#homesection .et_pb_column_2_3 ol li.circle-5{background:url('images/5.png') no-repeat scroll 0% 0%;
}#homesection .et_pb_column_2_3 ol li.circle-6{background:url('images/6.png') no-repeat scroll 0% 0%;
}#homesection .et_pb_column_2_3 ol li.circle-7{background:url('images/7.png') no-repeat scroll 0% 0%;
}#homesection .et_pb_column_2_3 ol li.circle-8{background:url('images/8.png') no-repeat scroll 0% 0%;
}#homesection .et_pb_column_2_3 ol li.circle-9{background:url('images/9.png') no-repeat scroll 0% 0%;
}*/
/*footer*/
#main-footer{
background:#8ba64c!important;
}
#footer-info a{color:#f5932a;}
.et-social-icon a{color:#f5932a;}
#footer-info{color:#FFF;}
.wpcf7-submit{
color:#7cc68d !important;
font-size: 20px!important;
font-weight: 500;
-moz-border-radius: 3px!important;
-webkit-border-radius: 3px!important;
border-radius: 3px!important;
padding: 6px 20px!important;
line-height: 1.7em!important;
border: 2px solid!important;
-webkit-font-smoothing: antialiased!important;
-moz-osx-font-smoothing: grayscale!important;
-moz-transition: all 0.2s!important;
-webkit-transition: all 0.2s!important;
transition: all 0.2s!important;
}