<!DOCTYPE html>
<!-- Drew - A Multipurpose Landing Page Template, designed by David Rozando (http://design.davidrozando.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- BASIC INFO -->
		<title>GMT - Greanwich Mean TIme</title>
		<!-- FAVICONS   -->
		<link rel="icon" href="{{ url_for('static', filename = 'images/favicons/favicon.ico') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename = 'images/favicons/apple-touch-icon.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename = 'images/favicons/apple-touch-icon-72x72.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename = 'images/favicons/apple-touch-icon-114x114.png') }}">

		<!-- CSS ================================= -->

		<!-- GOOGLE FONTS -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

		<!-- LIBRARIES CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'animate.min.css') }}">

		<!-- SPECIFIC CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">

		<!-- COLORS -->
		<link id="color-css" rel="stylesheet" href="{{ url_for('static', filename = 'colors/orange.css') }}">
            
<script type="text/javascript">
function startTime() {
    var today=new Date();
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('time-txt').innerHTML = h+":"+m+":"+s;
    var t = setTimeout(function(){startTime()},500);
}

function checkTime(i) {
    if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
</script>
<script src="//js.maxmind.com/js/country.js" type="text/javascript"></script>
		
	</head>

	<body class="enable-animations enable-preloader" onLoad="startTime()">

		<div id="document" class="document">

			<!-- HEADER
			================================= -->
			<header id="header" class="header-section section section-dark navbar navbar-fixed-top">

				<div class="container-fluid preheader">
					<div class="container">
				<div class="row">
					<div class="col-sm-4">
					<div class="navbar-header">
				
										<!-- RESPONSIVE MENU BUTTON -->
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>										
										</button>
				
										<!-- HEADER LOGO -->
										<a class="navbar-logo navbar-brand anchor-link" href="#hero">
											<img src="{{ url_for('static', filename = 'images/logos/logo.png') }}" srcset="{{ url_for('static', filename = 'images/logos/logo@2x.png')}} 2x" alt="GMT">
                                        </a>
                    </div>
					</div>
					<div class="col-sm-8">
						<div class="googleads1">
						<img src="{{ url_for('static', filename = 'images/contents/top-ad.jpg') }}" alt="google ads" height="90" width="728"/>
                        </div>
					</div>
				   </div>
					</div>	
				</div>			
				<div class="container-fluid navbarwrap">

					<nav id="navigation" class="navigation navbar-collapse collapse ">
						
						<!-- NAVIGATION LINKS -->
						<ul id="header-nav" class="nav navbar-nav">
							<li><a href="#hero" class="hidden">Top</a></li>
							<li><a href="#about">GMT Convertor</a></li>
							<li><a href="#benefits">TimeZones</a></li>
							<li><a href="#how-it-works">Info</a></li>
							<li><a href="#video">Gadgets</a></li>							
						</ul>
					</nav>
				</div>
			</header>

			<!-- HERO
			================================= -->
			<section id="hero" class="hero-section hero-layout-classic hero-layout-features-and-form section section-dark">
				<div class="container">

					<div class="hero-content">					

						<div class="hero-features row">

							<div class="hero-features-left col-md-9">
							<div id="time-txt"></div><!--CURRENT TIME-->
							<div class="current-date">
							<script type="text/javascript">


var mydate=new Date()
var year=mydate.getYear()
if (year < 1000)
year+=1900
var day=mydate.getDay()
var month=mydate.getMonth()
var daym=mydate.getDate()
if (daym<10)
daym="0"+daym
var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
document.write("<small><font color='000000' face='Arial'><b>"+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+"</b></font></small>")

</script>
<script type="application/javascript">
    function getip(json){
      alert(json.ip); // alerts the ip address
    }
</script>
, London United Kingdom
<script type="application/javascript" src="http://jsonip.appspot.com/?callback=getip"></script>
<script type="text/javascript">
        document.write( geoip_city() );
     
	 
function myIP() {
    if (window.XMLHttpRequest) xmlhttp = new XMLHttpRequest();
    else xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

    xmlhttp.open("GET","http://api.hostip.info/get_html.php",false);
    xmlhttp.send();

    hostipInfo = xmlhttp.responseText.split("\n");

    for (i=0; hostipInfo.length >= i; i++) {
        ipAddress = hostipInfo[i].split(":");
        if ( ipAddress[0] == "IP" ) return ipAddress[1];
    }

    return false;
}
 document.write( myIP() );

	 
	 
	 
	  </script>
</div>

<div id="timezonetable" class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  <ul id="myTab" class="nav nav-tabs">
   <li >
      <img src="{{ url_for('static', filename = 'images/contents/gmt.png') }}" alt="GMTto"/>
   </li>
   <li class="active">
      <a href="#calculator" data-toggle="tab"><img src="{{ url_for('static', filename = 'images/contents/calculator.png') }}" alt="calculator"/></a>
   </li>
   <li><a href="#time-zone" data-toggle="tab"><img src="{{ url_for('static', filename = 'images/contents/time-zone.png') }}" alt="time-zone"/></a></li>
   <li >
      <a href="#calendar" id="myTabDrop1" data-toggle="tab"><img src="{{ url_for('static', filename = 'images/contents/calendar.png') }}" alt="calendar"/></a>
    </li>
</ul>



  
  </div>
  <!-- Table -->

<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="calculator">
<table class="table">
        <tbody>
          <tr>
            <th scope="row"><img src="{{ url_for('static', filename = 'images/contents/location.png') }}" alt="location"/></th>
            <td><div class="row">
  <div class="col-sm-4">Greenwich Mean Time (GMT)</div>
  <div class="col-sm-6">Monday, February 16, 2015 at 10:30:00 AM</div>
  <div class="col-sm-2">
      <img src="{{ url_for('static', filename = 'images/contents/up-down-icon.png')}}" alt="up/down"/>
      <img src="{{ url_for('static', filename = 'images/contents/cross-icon.png') }}" alt="cross"/></div>
</div> </td>
            
          </tr>
          <tr>
            <th scope="row"><img src="{{ url_for('static', filename = 'images/contents/circle.png') }}" alt="circle"/></th>
            <td><div class="row">
  <div class="col-sm-4">Australian Central Daylight Time (Australia) ACDT</div>
  <div class="col-sm-6">Tuesday, February 17, 2015 at 00:30:00 AM</div>
  <div class="col-sm-2">
      <img src="{{ url_for('static', filename = 'images/contents/up-down-icon.png')}}" alt="up/down"/>
      <img src="{{ url_for('static', filename = 'images/contents/cross-icon.png') }}" alt="cross"/></div>
</div> </td>
          </tr>
         
        </tbody>
      </table>   </div>
   <div class="tab-pane fade" id="time-zone">
<table class="table">
        <tbody>
          <tr>
            <th scope="row"><img src="{{ url_for('static', filename = 'images/contents/location.png') }}" alt="location"/></th>
            <td><div class="row">
  <div class="col-sm-4">Cetral St. Time (CST)</div>
  <div class="col-sm-6">Monday, February 16, 2015 at 10:30:00 AM</div>
  <div class="col-sm-2">
      <img src="{{ url_for('static', filename = 'images/contents/up-down-icon.png')}}" alt="up/down"/>
      <img src="{{ url_for('static', filename = 'images/contents/cross-icon.png') }}" alt="cross"/></div>
</div> </td>
            
          </tr>
          <tr>
            <th scope="row"><img src="{{ url_for('static', filename = 'images/contents/circle.png') }}" alt="circle"/></th>
            <td><div class="row">
  <div class="col-sm-4"> Pecific St. Time PST</div>
  <div class="col-sm-6">Tuesday, February 17, 2015 at 00:30:00 AM</div>
  <div class="col-sm-2">
      <img src="{{ url_for('static', filename = 'images/contents/up-down-icon.png')}}" alt="up/down"/>
      <img src="{{ url_for('static', filename = 'images/contents/cross-icon.png') }}" alt="cross"/></div>
</div> </td>
          </tr>
         
        </tbody>
      </table>   </div>
   <div class="tab-pane fade" id="calendar">
<table class="table">
        <tbody>
          <tr>
            <th scope="row"><img src="{{ url_for('static', filename = 'images/contents/location.png') }}" alt="location"/></th>
            <td><div class="row">
  <div class="col-sm-4">Greenwich Mean Time (GMT)</div>
  <div class="col-sm-6">Monday, February 16, 2015 at 10:30:00 AM</div>
  <div class="col-sm-2">
      <img src="{{ url_for('static', filename = 'images/contents/up-down-icon.png')}}" alt="up/down"/>
      <img src="{{ url_for('static', filename = 'images/contents/cross-icon.png') }}" alt="cross"/></div>
</div> </td>
            
          </tr>
          <tr>
            <th scope="row"><img src="{{ url_for('static', filename = 'images/contents/circle.png') }}" alt="circle"/></th>
            <td><div class="row">
  <div class="col-sm-4">Australian Central Daylight Time (Australia) ACDT</div>
  <div class="col-sm-6">Tuesday, February 17, 2015 at 00:30:00 AM</div>
  <div class="col-sm-2">
      <img src="{{ url_for('static', filename = 'images/contents/up-down-icon.png')}}" alt="up/down"/>
      <img src="{{ url_for('static', filename = 'images/contents/cross-icon.png') }}" alt="cross"/></div>
</div> </td>
          </tr>
         
        </tbody>
      </table>
   </div>
</div>
</div>

					
	<div class="5countriesclock">
	<div class="circle firstclock" id="clock1"></div>
	<div class="circle" id="clock2"></div>
	<div class="circle" id="clock3"></div>
	<div class="circle" id="clock4"></div>
	<div class="circle" id="clock5"></div>
	<div class="circle" id="clock6"></div>
	<div class="circle lastclock" id="clock7"></div>
    </div><div class="clear"></div>
	
	<div class="foursquresboxes ">
						<div class="square first col-md-3"></div>
						<div class="square col-md-3"></div>
						<div class="square col-md-3"></div>
						<div class="square last col-md-3"></div>
						<div class="clear"></div>
						</div>
                            </div>
							<div class="hero-features-right col-md-3" data-animation="fadeIn">
								<div class="googleads2">
									<img src="{{ url_for('static', filename = 'images/contents/side-ad.jpg')}}" alt="googleads" width="300" height="250"/>
                                </div>
                                <br>
								<div class="googleads3">
									<img src="{{ url_for('static', filename = 'images/contents/side-ad.jpg')}}" alt="googleads" width="300" height="250"/>
                                </div>
                                
								<!-- FORM -->
								<form action="" method="post" id="form" class="form" role="form">

									<h4 class="form-heading">Get your Awesome Landing Page Now!</h4>

									<div class="form-validation alert"></div>

									<div class="form-group">
										<label for="form-name">Name</label>
										<input type="text" name="name" id="form-name" class="form-control" placeholder="Your Full Name" autocomplete="off">
									</div>

									<div class="form-group">
										<label for="form-email">Email Address</label>
										<input type="email" name="email" id="form-email" class="form-control" placeholder="Your Valid Email Address" autocomplete="off">
									</div>

									<div class="form-group">
										<label for="form-location">Your Location</label>
										<select name="location" id="form-location" class="form-control" placeholder="Your Location" autocomplete="off">
											<option value="Alabama">Alabama</option>
											<option value="Alaska">Alaska</option>
											<option value="Arizona">Arizona</option>
											<option value="Arkansas">Arkansas</option>
											<option value="California">California</option>
											<option value="Colorado">Colorado</option>
											<option value="Connecticut">Connecticut</option>
											<option value="Delaware">Delaware</option>
											<option value="Florida">Florida</option>
											<option value="Georgia">Georgia</option>
											<option value="Hawaii">Hawaii</option>
											<option value="Idaho">Idaho</option>
											<option value="Illinois">Illinois</option>
											<option value="Indiana">Indiana</option>
											<option value="Iowa">Iowa</option>
											<option value="Kansas">Kansas</option>
											<option value="Kentucky">Kentucky</option>
											<option value="Louisiana">Louisiana</option>
											<option value="Maine">Maine</option>
											<option value="Maryland">Maryland</option>
											<option value="Massachusetts">Massachusetts</option>
											<option value="Michigan">Michigan</option>
											<option value="Minnesota">Minnesota</option>
											<option value="Mississippi">Mississippi</option>
											<option value="Missouri">Missouri</option>
											<option value="Montana">Montana</option>
											<option value="Nebraska">Nebraska</option>
											<option value="Nevada	Carson">Nevada	Carson</option>
											<option value="New Hampshire">New Hampshire</option>
											<option value="New Jersey">New Jersey</option>
											<option value="New Mexico">New Mexico</option>
											<option value="New York">New York</option>
											<option value="North Carolina">North Carolina</option>
											<option value="North Dakota">North Dakota</option>
											<option value="Ohio">Ohio</option>
											<option value="Oklahoma">Oklahoma</option>
											<option value="Oregon">Oregon</option>
											<option value="Pennsylvania">Pennsylvania</option>
											<option value="Rhode Island">Rhode Island</option>
											<option value="South Carolina">South Carolina</option>
											<option value="South Dakota">South Dakota</option>
											<option value="Tennessee">Tennessee</option>
											<option value="Texas">Texas</option>
											<option value="Utah">Utah</option>
											<option value="Vermont">Vermont</option>
											<option value="Virginia">Virginia</option>
											<option value="Washington">Washington</option>
											<option value="West Virginia">West Virginia</option>
											<option value="Wisconsin">Wisconsin</option>
											<option value="Wyoming">Wyoming</option>
										</select>
									</div>
									
									<div class="form-group form-group-submit">
										<button class="btn btn-primary btn-lg btn-block" data-loading-text="Action Button">Button</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</section>

			<!-- FOOTER
			================================= -->
			<section id="footer" class="footer-section section">

				<div class="container">

					<h3 class="footer-logo">
						<img src="{{ url_for('static', filename = 'images/logos/footer-logo.png')}}" srcset="{{ url_for('static', filename = 'images/logos/footer-logo@2x.png')}} 2x" alt="Drew">
                    </h3>

					<div class="footer-socmed">
						<a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
						<a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
						<a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
						<a href="#" target="_blank"><span class="fa fa-pinterest"></span></a>
                    </div>

					<div class="footer-copyright">
						&copy; 2015 Drew Landing Page
                    </div>
				</div>

			</section>
		
		</div>

		<!-- JAVASCRIPT
		================================= -->
		<script src="{{ url_for('static', filename = 'js/jquery-1.11.2.min.js')}}"></script>
		<script src="{{ url_for('static', filename = 'js/picturefill.min.js')}}"></script>
		<script src="{{ url_for('static', filename = 'js/jpreloader.min.js')}}"></script>
		<script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
		<script src="{{ url_for('static', filename = 'js/smoothscroll.min.js')}}"></script>
		<script src="{{ url_for('static', filename = 'js/jquery.nav.min.js')}}"></script>
		<script src="{{ url_for('static', filename = 'js/jquery.inview.min.js')}}"></script>
		<script src="{{ url_for('static', filename = 'js/jquery.counterup.min.js')}}"></script>
		<script src="{{ url_for('static', filename = 'js/jquery.stellar.min.js')}}"></script>
		<script src="{{ url_for('static', filename = 'js/script.js')}}"></script>
		
	</body>

</html>