body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #FFF;
	font-family: Arial;
	font-size: 20px;
}
.container {
	display: block;
	width: 300px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}
#countryField {
	width: 300px;
	display: block;
	padding: 8px;
	border: solid 2px #999;
	font-size: 15px;
	margin: 10px 0 0 0;
}
#helper {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
#helper a {
	display: block;
	width: 100%;
	padding: 10px;
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	background: #FFF;
}
#helper a:hover {
	background: #999;
	color: #FFF;
}